.ims{
  img{
    width: 100%;
  }
}

footer {
  padding: 2rem;
background-color: #FFFFFF;
padding: 60px;
p{
  text-align: center;
  color: gray;
  padding: 2rem;
}
  ul{
    h5{
      font-size: 20px;
    }
    li{
     
      i{
        color: blueviolet;
      }
      a{
        color: gray;
      }
    }
  }
}